@import '~antd/dist/antd.css';

.site-layout-background {
  background: #fff;
  margin: 24px;
}

.site-page-header {
  color: #fff;
  background-color: #333;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
}

.ant-spin-dot-item {
  background-color: #fff;
}
